@model List<DomainProduct.Entities.Product>
@if (Model != null && Model.Any())
{
<div class="ui container fluid">
    <p class="cards-title">
        Também Compraram
    </p>
                
        <div class="@(Request.Browser.IsMobileDevice ? "cardsMobile display flex align-items center wrap-no" : "ui cards centered tambem-comprados slideshow")">
            @foreach (var product in Model)
            {
                @Html.Partial("~/Views/Shared/Object/Product/_ProductInCard.cshtml", product)
            }
        </div>
    <div class="ui divider hidden"></div>
</div>
}