<div class="ui container fluid infoBar">
    <ul class="display flex align-items center justify content center direction-m column">
        <li>
            <figure>
                <img src="/assets/image/banners/info-bar-quem-somos.png" alt="Quem Somos" />
            </figure>

            <p>
                <strong>Quem Somos</strong>
                <span>
                    conheça nossa história e como<br/>
                    tudo começou
                </span>
                <a href="" title="saiba mais">saiba mais</a>
            </p>
        </li>

        <li>
            <figure>
                <img src="/assets/image/banners/info-bar-nossas-lojas.png" alt="Nossas Lojas" />
            </figure>

            <p>
                <strong>Nossas Lojas</strong>
                <span>conheça nossas lojas e o melhor lugar para<br/>comprar</span>
                <a href="" title="saiba mais">saiba mais</a>
            </p>
        </li>
    </ul>
</div>